/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
 */
/* .page{
  background-color: rgb(255, 210, 205);
} */

.page{
  width: 100%;
  height: 100%;
}
.main-nav-bar{
  display: flex;
  align-items: center;
  background-color: rgb(53, 74, 230);
/*   justify-content: space-between; */
  padding: 0 5rem;
  font-size: 0.5rem;

}
.nav-bar{
  display: flex;
  gap: 1rem;
  margin-left: auto;
  align-items: center;


}
.company-name{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;

 
}
.individual-nav{
  color: white;   
  cursor: pointer;
}
.user-area{
  margin-left: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.user-details{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: bisque;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.user-popup{
  position: absolute;
  top: 3rem;
  right: 0rem;
  width: 4rem;
  background-color: aliceblue;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  border-radius: 6px;
  padding: 1rem; 
  color: green;
  
}
.user-popup p {
  margin: 0;
  padding: 0.5rem;
  cursor: pointer;
}

.user-popup p:hover {
  background: #eee;
}